body{
	background-color: #33cc33;
}

header{
	font-size: 68px;
	font-weight: bold;
	font-family: arial;
	text-align: center;
	text-decoration-color: white;
	color: white;
	background-color: #0066ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#container{
	width: 25%;
	height: 40%;
	background-color: white;
	position: absolute;
	left: 36.5%;
	top: 30%;
	border-radius: 8px;
	align-content: center;
}
form {
  text-align: center;
}

#container2{
	width: 70%;
	height: 75%;
	background-color: white;
	position: absolute;
	left: 15%;
	top: 22%;
	border-radius: 8px;
	align-content: center;
}
